@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lobster&display=swap');

:root{
    --roxo-escuro: #4C0033;
    --violeta-: #790252;
    --rosa-forte: #AF0171;
    --rosa-fraco: #E80F88;
    --font-titulo: "Lobster", monospace;
    --font-texto: "Itim", serif;

}

body{
    background-color: var(--roxo-escuro);
    color: white;
    font-family: var(--font-texto);
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 36px;
}

.titulo-principal span{
    color: var(--roxo-escuro);
}

.botao{
    font-family: var(--font-texto);
    font-size: 22px;
    background-color: var(--rosa-fraco);
    color: white;
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 100%;
    border-bottom: 4px solid var(--roxo-escuro);
    border-left: 4px solid var(--roxo-escuro);
    border-right: 4px solid var(--roxo-escuro);
    border-top: none;

}
.botoes {
    display: block;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botao:last-child{
    border-radius: 0 0 40px 40px;
}

.botao.ativo{
    background-color: var(--rosa-forte);
    border-bottom: 4px solid var(--rosa-fraco)
}

.abas-texto{
    background-color: var(--rosa-forte);
    padding: 40px;
    border-radius: 0 0 40px 40px;

}

.aba-conteudo.ativo{
    display: block;
}

.aba-conteudo{
    display: none;
}

.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}

.aba-conteudo-titulo-secundario{
    text-align: center;
    color: black;
    text-transform: uppercase;
}

@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}

